<section class="first-block">
  <h3 class="uppercase-header">blok pierwszy</h3>
  <fieldset class="first-block__radio-buttons">
    @for(radioButton of radioButtons; track radioButton.id) {
    <label class="first-block__radio-buttons__label" [for]="radioButton.id">
      <input
        [formControl]="options"
        class="first-block__radio-buttons__label__radio-button"
        type="radio"
        [id]="radioButton.id"
        [value]="radioButton.value"
      />
      {{ radioButton.text }}</label
    ><br />
    }
  </fieldset>
</section>
