.footer {
  position: relative;
  bottom: 0;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 1rem 1rem;
  background-color: #15161a;

  &__logo {
    height: 5.6rem;
    width: 5.6rem;
    font-size: 1.25rem;
    padding-left: 0.4rem;
    text-transform: uppercase;
    border: 1px solid #303030;
    color: #fff;
  }

  &__company-name {
    color: #2a2d36;
    position: relative;
    font-size: 1.1rem;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      border-top: 0.5px solid #2a2d36;
      width: 2.5rem;
      transform: translateY(-0.25rem);
      top: 65%;
      left: -65%;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      border-top: 0.5px solid #2a2d36;
      width: 2.5rem;
      transform: translateY(-0.25rem);
      top: 65%;
      left: 104%;
    }
  }

  &__navigation {
    position: relative;

    &__button {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      color: #989baa;
      background-color: inherit;
      border: 1px solid #282b32;
      padding: 0.7rem 3.5rem;

      &__icon {
        margin-left: 0.7rem;
        font-size: 0.9rem;
      }

      &:hover {
        color: #fff;
        border-color: #fff;
      }

      &:hover + .footer__navigation__menu {
        display: block;
      }

      &:focus + .footer__navigation__menu {
        display: block;
      }
    }

    &__menu {
      display: none;
      position: absolute;
      top: -6.6rem;
      left: 0;
      z-index: 999999;
      width: 100%;
      background: #ffffff;
      color: #15161a;
      text-align: center;
      transition: bottom 0.5s ease;

      &__list {
        list-style: none;
        margin: 0;
        padding: 0.7rem 0;
        flex-direction: column;

        &__item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0.2rem 1rem;

          &__button {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            cursor: pointer;
            text-decoration: none;

            &__icon {
              font-size: 0.8rem;
            }

            &__text {
              margin-left: 0.2rem;
              font-size: 0.8rem;
              text-transform: uppercase;

              color: #15161a;
            }

            &:focus {
              outline: max(3px, 0.15rem) solid currentColor;
              outline-offset: max(3px, 0.15rem);
            }

            &:hover > p,
            &:hover > i {
              color: #e88201;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .footer__company-name {
    display: none;
  }
}
